---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "About Gabriel and the Arthifact website.",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			Hi! I'm Arthifact (Gabriel). I'm passionate about art and science. Arthifact is my digital
			space, where I explore, and collect ideas in motion.
		</p>
		<p>
			On this site, you'll find blog posts, notes, and project showcases related to my interests in
			computer graphics, games, programming, and scientific ideas. I enjoy building things that are
			both visually engaging and intellectually stimulating.
		</p>
		<p>Thanks for visiting!</p>
		<h2>Contact & Links</h2>
		<ul>
			<li>
				Email: <a href="mailto:gialonsoser@miners.utep.edu" class="cactus-link"
					>gialonsoser@miners.utep.edu</a
				>
			</li>
			<li>
				LinkedIn: <a
					href="https://www.linkedin.com/in/gialonsoser/"
					class="cactus-link"
					target="_blank"
					rel="noopener">linkedin.com/in/gialonsoser</a
				>
			</li>
		</ul>
		<hr class="my-4" />
		<ul>
			<li>
				Resume: <a
					href="/files/Gabriel_Isaac_Alonso_Serrato_Resume.pdf"
					class="cactus-link"
					target="_blank"
					rel="noopener">View my Resume (PDF)</a
				>
			</li>
		</ul>
		<hr class="my-4" />
		<ul>
			<li>
				GitHub: <a
					href="https://github.com/arthifact"
					class="cactus-link"
					target="_blank"
					rel="noopener">github.com/arthifact</a
				>
			</li>
			<li>
				YouTube: <a
					href="https://www.youtube.com/@arthifact"
					class="cactus-link"
					target="_blank"
					rel="noopener">youtube.com/@arthifact</a
				>
			</li>
			<li>
				Instagram: <a
					href="https://www.instagram.com/arthifact_/"
					class="cactus-link"
					target="_blank"
					rel="noopener">@arthifact_</a
				>
			</li>
		</ul>
	</div>
</PageLayout>
