---
import { Icon } from "astro-icon/components";

/** 
	Uses https://www.astroicon.dev/getting-started/
	Find icons via guide: https://www.astroicon.dev/guides/customization/#open-source-icon-sets
	Only installed pack is: @iconify-json/mdi
*/
const socialLinks: {
	friendlyName: string;
	isWebmention?: boolean;
	link: string;
	name: string;
}[] = [
	{
		friendlyName: "Github",
		link: "https://github.com/arthifact",
		name: "mdi:github",
	},
	{
		friendlyName: "YouTube",
		link: "https://www.youtube.com/@arthifact",
		name: "mdi:youtube",
	},
	{
		friendlyName: "Instagram",
		link: "https://www.instagram.com/arthifact_/",
		name: "mdi:instagram",
	},
];
---

<div class="flex flex-wrap items-end gap-x-2">
	<p>Find me on</p>
	<ul class="flex flex-1 items-center gap-x-3 sm:flex-initial">
		{
			socialLinks.map(({ friendlyName, isWebmention, link, name }) => (
				<li class="flex">
					<a
						class="hover:text-link hover:bg-accent inline-flex h-8 w-8 items-center justify-center rounded-full bg-zinc-900 text-white transition-colors duration-200 dark:bg-zinc-800"
						href={link}
						rel={`noreferrer ${isWebmention ? "me authn" : ""}`}
						target="_blank"
					>
						<Icon aria-hidden="true" class="h-5 w-5" focusable="false" name={name} />
						<span class="sr-only">{friendlyName}</span>
					</a>
				</li>
			))
		}
	</ul>
</div>
